/* .container{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    background-color: white;
    border: 2px solid black;
    justify-content: flex-start; 
    align-items: flex-start;
} */
/* .item{ 
     margin: 0 auto;
     width: 100%;
    height: 100%;
    background-color: white;
} */





@media (min-width: 0px) and (max-width: 480px){
    .mainboard_container{
        max-width: 380px;
        column-count: 1;
    }
}

@media (min-width: 441px) and (max-width: 756px){
    .mainboard_container{
        max-width: 440px;
        column-count: 2;
    }
}

@media (min-width:756px) and (max-width:1007px){
    .mainboard_container{
        max-width: 756px;
        column-count: 3;
    }
}

@media (min-width:1008px) and (max-width:1259px){
    .mainboard_container{
        max-width: 1008px;
        column-count: 4;
    }
}
@media (min-width:1260px) and (max-width:1511px){
    .mainboard_container{
        max-width: 1260px;
        column-count: 5;
    }
}
@media (min-width:1512px) and (max-width:1763px){
    .mainboard_container{
        max-width: 1512px;
        column-count: 6;
    }
}