* {
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 16px;
  background-color: #fff;
  color: black;
  /* overflow: hidden; */
}
.logo .MuiSvgIcon-root  {
  color: #e60023;
  font-size: 2rem;
  cursor: pointer;
  padding: 4px 4px;
  border-radius: 1.5rem;
}
.logo:hover {
  background-color: #efefef;
}
.homebutton {
  display: flex;
  height: 48px;
  min-width: 85px;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  cursor: pointer;
}
.homepagebutton {
  margin-left: 8px;
  background-color: rgb(17, 17, 17);
}
.homepagebutton a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.todaybutton {
  background-color: #fff;
}
.todaybutton a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.createbutton {
  padding-top: 12px;
  padding-right: 8px;
  background-color: #fff;
}
.createbutton a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropbtn {
  background: none;
  border: none;
  padding-right: 0;
}

/* Create Button popup */
.menu {
  font-size: 14px;
  position: absolute;
  top: 100%;
  left: 100%;
  translate: -85%;
  list-style-type: none;
  margin: 10px 10px;
  padding: 0;
  width: 11rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  /* justify-content: center; */
  border-radius: 16px;
  background: #ffffff;
  border-radius: 10%;
  box-shadow: 0.3px 0.3px 15px #e8e8e8, -0.3px -0.3px 15px #ffffff;
}
.menu_item {
  padding: 4px;
  text-align: left;
  border-radius: 14px;
}
.menu_item:hover {
  background-color: #efefef;
}
.menu_item > button {
  /* text-align: left; */
  /* width: 100%; */
  height: 100%;
  background: none;
  color: inherit;
  border: none;
  padding: 4px 2px;
  margin: 4px;
  font: inherit;
  cursor: pointer;
  border-radius: 1px;
}

.searchlogo {
  font-size: 2rem;
  cursor: pointer;
  /* padding: 4px 4px; */
  border-radius: 1.5rem;
}
.searchbar {
  flex: 1;
}
.searchbarwrapper {
  background-color: #efefef;
  display: flex;
  height: 48px;
  width: 100%;
  border-radius: 50px;
  border: none;
  padding-left: 10px;
}
form {
  display: flex;
  flex: 1;
}
form > input {
  background-color: transparent;
  border: none;
  width: 95%;
  height: 45px;
  margin-left: 5px;
  font-size: 16px;
}
form > button {
  display: none;
}
input:focus {
  outline: none;
}
.iconswrapper {
  padding-left: 8px;
}
/* Avatar Acccount popup, Dropdown button popup*/
.menu_1 {
  font-size: 11px;
  position: absolute;
  top: 100%;
  left: 100%;
  translate: -100%;
  list-style-type: none;
  margin: 0 5px;
  padding: .2rem;
  width: 16rem;
  height: 27rem;
  cursor: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  /* justify-content: center; */
  border-radius: 1px;
  background: #ffffff;
  border-radius: 2%;
  box-shadow: 0.3px 0.3px 15px #e8e8e8, -0.3px -0.3px 15px #ffffff;
}
.menu_item_1 {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: left;
  /* padding: .2rem; */
  text-align: left;
  border-radius: 12px;
}
.menu_item_1:hover {
  background-color: #e9e9e9;
  /* background-color: #efefef; */
  text-decoration: none;
}
.menu_item_1 > a {
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  width: 100%;
  height: 100%;
  background: none;
  color: inherit;
  border: none;
  padding: 2px 2px;
  margin: 2px;
  font: inherit;
  cursor: pointer;
  /* border-radius: 1px; */
}
.account{
  cursor: pointer;
}
.account:hover {
  background-color: #e9e9e9;
  border-radius: 8px;
}
.username{
  font-size: 14px;
  color: #000;
}
.logout{
  /* height: 3.8rem; */
  font-size: 14px;
  margin: 0;
  /* padding: 4px 6px; */
  color: #fff;
  background-color: #000;
  border-radius: 6px;
}
.initial{
  font-size: 20px !important;
}
.initialavatar{
  font-size: 20px !important;
}



/* CSS */
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #000;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}



/* Icons */
.avatarlink {
  font-size: 1.2rem;
  text-decoration: none;
  color: #767676;
  border: none;
  background-color: #fff;
  border-radius: 50%;
}
.avatarhide {
  width: 4.5rem;
  display: none;
  font-size: 10px;
  padding: 6px 2px;
  border-radius: 4px;
}
.avatarlink:hover {
  background-color: #efefef;
}
.avatarlink:hover + .avatarhide {
  position: absolute;
  top: 110%;
  left: 100%;
  translate: -70%;
  display: block;
  color: #fff;
  background-color: #000;
}
.smslink {
  text-decoration: none;
  color: #767676;
  border: none;
  background-color: #fff;
  border-radius: 50%;
}
.smslink:hover {
  background-color: #efefef;
}
.smshide {
  width: 4rem;
  display: none;
  font-size: 10px;
  padding: 6px 2px;
  border-radius: 4px;
}
.smslink:hover + .smshide {
  position: absolute;
  top: 110%;
  left: 100%;
  translate: -80%;
  display: block;
  color: #fff;
  background-color: #000;
}
.notificationlink {
  text-decoration: none;
  color: #767676;
  border: none;
  background-color: #fff;
  border-radius: 50%;
}
.notificationlink:hover {
  background-color: #efefef;
}
.notificationhide {
  width: 4.5rem;
  display: none;
  font-size: 10px;
  padding: 6px 2px;
  border-radius: 4px;
}
.notificationlink:hover + .notificationhide {
  position: absolute;
  top: 110%;
  left: 100%;
  translate: -75%;
  display: block;
  color: #fff;
  background-color: #000;
}

.accountlink {
  text-decoration: none;
  color: #767676;
}
.accounthide {
  text-align: left;
  width: 3.5rem;
  display: none;
  font-size: 10px;
  padding: 6px 4px;
  border-radius: 4px;
}
.accountlink:hover + .accounthide {
  position: absolute;
  top: 110%;
  left: 100%;
  translate: -100%;
  display: block;
  color: #fff;
  background-color: #000;
}

.initial-avatar {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Colors */
  background-color: #d1d5db;
  color: #fff;

  /* Rounded border */
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}


