
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}
.pinterest .MuiSvgIcon-root {
  color: #e60023;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.heading {
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: -1.2;
  /* margin-bottom: .5rem; */
  padding: 0 16px;
}
.white {
  color: #fff;
  text-align: left;
}
.login-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(../../public/images/bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.login-title-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.login-form-section,
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-form-section {
  margin: 5rem auto !important;
  width: 400px;
  height: 37rem;
  border-radius: 1.5rem;
  background-color: #fff;
  /* box-shadow: 0.3px 0.3px 15px #e8e8e8, -0.3px -0.3px 15px #ffffff; */
  padding: 1.25rem 0.625rem 1.5rem 0.625rem;
}
/* form{
margin-bottom: .5rem !important;
} */

.form-group {
  margin-bottom: 10px;
}

.form-group input {
  font-size: 14px;
  width: 16.5rem;
  height: 2.75rem;
  padding: 8px 16px;
  border: 1px solid #e6e6e6;
  border-radius: 1rem;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  font-size: 14px;
  font-weight: 400;
  color: #111111;
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn-red {
  width: 16.5rem;
  height: 2.5rem;
  margin: 8px 0 0;
  padding: 0px 18px;
  border: 1px solid #d50c22;
  border-radius: 1.25rem;
  background: #e60023;
  color: #fff;
  font-size: 15px;
  line-height: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}
.btn-red:hover {
  background-color: #d50c22;
  color: #fff;
}
b {
  color: #000;
}

.small {
  font-size: 12px;
  color: #111111;
  text-decoration: none !important;
}

a {
  text-decoration: none;
}
.small:hover {
  text-decoration: none;
}

.btn-block {
  width: 15rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  padding: 10px 20px;
  color: #fff;
  background: #000;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.heading h1 {
  font-size: 2rem;
  font-weight: 600;
}
.privacy-policy {
  font-size: 11px;
  color: rgb(118, 118, 118);
  margin-top: 12px;
  text-align: center;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
/* For WebKit-based browsers */
/* Hide the scrollbar track (background) and make it transparent */
/* Style the scrollbar thumb */
::-webkit-scrollbar {
  width: 10px; /* Adjust the scrollbar width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); /* Set the background color with transparency */
  border-radius: 5px; /* Round the corners of the scrollbar thumb */
}

/* For Firefox */
/* Hide the scrollbar track (background) and make it transparent */
/* Style the scrollbar thumb */
.content {
  scrollbar-width: thin; /* Adjust the scrollbar width as needed */
}

.content::-webkit-scrollbar-track {
  background-color: transparent; /* Make the scrollbar track transparent */
}

.content::-webkit-scrollbar-thumb {
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); /* Set the background color with transparency */
  border-radius: 5px; /* Round the corners of the scrollbar thumb */
}

/* For Edge */
/* Hide the scrollbar track (background) and make it transparent */
/* Style the scrollbar thumb */
@supports (-ms-ime-align: auto) {
  .content {
    scrollbar-width: thin; /* Adjust the scrollbar width as needed */
  }

  .content::-webkit-scrollbar-track {
    background-color: transparent; /* Make the scrollbar track transparent */
  }

  .content::-webkit-scrollbar-thumb {
    background-color: rgba(
      0,
      0,
      0,
      0.3
    ); /* Set the background color with transparency */
    border-radius: 5px; /* Round the corners of the scrollbar thumb */
  }
}
